<section>
    <!--Character Name + Level&EXP-->
    <article>
        <!--Character Name-->
        <div>
            <h2>Character Name</h2>
        </div>

        <!--Level and EXP-->
        <div>
            <!--Level-->
            <div>Level</div>

            <!--EXP-->
            <div></div>
        </div>
    </article>

    <!--ATK DEF HP-->
    <article>
        <!--ATK-->
        <div></div>

        <!--HP-->
        <div></div>

        <!--DEF-->
        <div></div>
    </article>

    <!--Item-->
    <article>
        <!--Item Name-->
        <div></div>

        <!--Item Type-->
        <div></div>

        <!--Attack Bonus-->
        <div></div>

        <!--Defense Bonus-->
        <div></div>

        <!--Item Comment-->
        <div></div>
    </article>
</section>

<script src="/js/character.js"></script>