
<div class="my-2">
  <section class="d-flex flex-column align-items-center">
    <div class="col-12 col-md-10 col-lg-10">
      <div class="d-flex flex-row mb-4">
        <h2 class="w-100 text-center" style="text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;">Play Game</h2>
      </div>
      <div class="d-flex flex-row flex-wrap ">
        <div class="col-12 col-md-9" >
          <div class="card px-5 pb-2 pt-2" id="gameMessageBox">
            <div class="d-flex ">
              <ul id="gameMessages" class=" col-9 game_box"></ul>
              <div id="enemyStats" class=" col-3 d-flex justify-content-center">
                <div class="d-flex justify-content-center flex-column">
                  <span id="enemyName" class="enemy">{{enemy.name}}</span>
                  <img id="enemyImg" class="mw-100" src="https://via.placeholder.com/350x350" width="100%">
                  <div class="d-flex flex-column ">
                    <span id="enemyHP" class="ml-1">HP: {{enemy.hp}}</span>
                    <div class="d-flex flex-row justify-content-between">
                      <span id="enemyAtk" class="ml-1">ATK: {{enemy.attack}}</span>
                      <span id="enemyDef" class="ml-1">DEF: {{enemy.defense}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex flex-row justify-content-center actions">
              <button id="attackBtn" class="btn my-3 mx-3 text-white ">Attack</button>
              <button id="defendBtn" class="btn my-3 mx-3 text-white ">Defend</button>
              <button id="potionBtn" class="btn my-3 mx-3 text-white ">Use Potion</button>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-3">
          <div class="card h-100 justify-content-between chat">
            <ul id="userMessages" class="game_box"></ul>
            <div>
              <form id="userForm" class="justify-content-end" action="">
                <input id="userChat" class="mt-1" autocomplete="off" />
                <button class="btn mt-1">Send</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div>
        <span id="messageError"></span>
      </div>
    </div>
  </section>
</div>
<script>
</script>
<script src="/js/gameSocket.js"></script>
<script src="/js/battle.js"></script>
<script src="/js/chat.js"></script>