
<h2>Home</h2>
<div>
  <div>
    <ul id="userMessages"></ul>
    <form id="userForm" action="">
      <input id="userChat" autocomplete="off" />
      <button>Send</button>
    </form>
  </div>
  <div>    
    <ul id="gameMessages"></ul>
    {{!-- <form id="form" action="">
      <input id="input" autocomplete="off" />
      <button>Send</button>
    </form> --}}
  </div>
</div>
<script src="./js/chat.js"></script>