
<h2 class="text-center p-3" style="text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;">WELCOME TO MAD MISADVENTURE ONLINE</h2>
<!--The splash image-->
<div class="justify-content-center">
  <img src="https://cdn.discordapp.com/attachments/122572496741335040/973688170673741854/mmo.png" class="w-100 h-100 mx-auto" />
{{#if loggedIn}}
{{else}}
  <a href="/login"><h2 class="text-center p-3" style="text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;">JOIN THE FRAY!</h2></a>
{{/if}}
</div>